<h1>Todo</h1>
<p>Create a new list:</p>
<form action="/lists" method="post">
  <label for="name">Assign a name to your list:</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="waves-effect waves-light btn white black-text">Add list</button>
</form>
<div class="input-field">
<select>
      <% @lists.each() do |list| %>
        <li value="<%= list.id()%>">
          <%= list.name() %>
            <% end %>
        </li>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
</select>
</div>
<% if @lists.any?() %>
  <p>Click on a list to see the list of tasks:</p>
  <ul>
    <% @lists.each do |list| %>
      <li>
        <a href="/lists/<%= list.id() %>">
          <%= list.name() %>
        </a>
      </li>
      <% end%>
  </ul>
  <% else %>
    <p>There are no lists yet!</p>
    <% end %>
