<h1 class="center-align">ToDo</h1>
<p class="center-align">Here are all your tasks:</p>
<ul class="center-align">
	<% @tasks.each() do |task| %>
	<li><%= task.description() %></li>
	<% end %>
</ul>
<p>Create a new task:</p>
<form action="/task" method="post">
	<div class="input-field">
		<input type="text" name="description" id="description">
	</div>
	<button class="waves-effect waves-light btn" type="submit">Add Task</button>
</form>