<h1 class="center-align"><%= @list.name() %></h1>
<a href="/lists/<%= @list.id() %>/edit"><i class="material-icons small">edit</i>
</a><a href="/"><i class="material-icons small">home</i>
</a>
<form action="/tasks" method="post">
    <input id="list_id" name="list_id" type="hidden" value="<%= @list.id() %>">
    <div class="input-field">
        <label for="description">Description of the task:</label>
        <input id="description" name="description" type="text" required="">
    </div>
    <div class="add_task_btn">
        <button type="submit" class="btn waves-effect white black-text">Add task</button>
    </div>
</form>
<br>
<% if @list.tasks().any?() %>
    <div class="collection">
        <% @list.tasks().each() do |task| %>
            <li class="collection-item">
                <%= task.description() %>
            </li>
            <% end %>
    </div>
    <% else %>
        <p class="center-align">There are no tasks on this list!</p>
        <% end %>