.add_list_btn, .add_task_btn {
    text-align: center;
}

.input-field {
    width: 45%;
    margin: auto;
}

.todo_h1 {
    color: black;
}

.lists {
    text-align: center;
    margin: auto;
}

.collection li {
    list-style-type: none;
}

.collection {
    width: 45%;
    margin: auto;
}